@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Satisfy&family=Shadows+Into+Light&display=swap");
* {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgb(225, 225, 149), rgb(142, 219, 156));
  background-repeat: round;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.778);
  font-size: 3.3rem;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 700;
  color: brown;
}
.gameSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Board {
  display: grid;
  grid-template-columns: 5vw 5vw 5vw;
  grid-template-rows: 5vw 5vw 5vw;
  gap: 0.3vw;
}
.board {
  font-family: sans-serif;
  font-size: clamp(1rem, 2vw, 2.5rem);
  border: 2px dashed black;
  transition: 0.6s;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.board:hover {
  border-radius: 10px;
  background-color: rgb(197, 155, 233);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.778);
}
.ResetBtn {
  width: 10vw;
}
.btn {
  margin-top: 3vw;
  font-size: 2rem;
  min-width: 80px;
  max-width: 100px;
  color: white;
  background-image: linear-gradient(90deg, rgb(161, 44, 167), red);
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.778);
}
.btn:hover {
  font-size: 2.1rem;
  width: 11vw;
  font-weight: 700;
  background-image: linear-gradient(
    90deg,
    rgba(161, 44, 167, 0.958),
    rgba(255, 0, 0, 0.937)
  );
}
.btn:active {
  background-image: linear-gradient(90deg, rgb(161, 44, 167), rgb(255, 0, 0));
}
.Verdict {
  padding-top: 3vw;
  font-size: 2rem;
}
.userChoice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  gap: 1vw;
}
.gbtn {
  text-align: center;
  width: 3vw;
  height: 3vw;
  min-width: 20px;
  min-height: 20px;
  transition: 0.5s;
  font-size: 1rem;
  margin-top: 0px;
  border-radius: 5px;
  border: 1px solid black;
}
.gbtn:hover {
  font-size: 1.1rem;
}
.active {
  background: olive;
  color: white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.778);
}
.YN {
  width: 3.5vw;
  height: 3vw;
  min-width: 40px;
  min-height: 20px;
}
.play {
  margin-top: 0px;
  width: 10vw;
}
.mainSection {
  position: absolute;
  top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: none;
  z-index: -1;
}
.show {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.hide {
  opacity: 0;
  visibility: none;
}
.winnerStyle {
  border: 2px dashed rgb(2, 75, 13);
  color: white;
  background-color: rgb(1, 94, 1);
  border-radius: 10px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
  .gameSection {
    width: 95%;
  }

  .Board {
    display: grid;
    grid-template-columns: 6vw 6vw 6vw;
    grid-template-rows: 6vw 6vw 6vw;
    gap: 0.2rem;
  }

  .board {
    font-size: clamp(1rem, 5vw, 1.2rem);
  }

  .board:hover {
    border-radius: 4px;
    background-color: rgb(197, 155, 233);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.778);
  }
  .btn {
    font-size: 1.1rem;
  }
  .btn:hover {
    font-size: 1.1rem;
    width: 11vw;
    font-weight: 700;
    background-image: linear-gradient(
      90deg,
      rgba(161, 44, 167, 0.958),
      rgba(255, 0, 0, 0.937)
    );
  }

  .Verdict {
    font-size: 1.2rem;
  }

  .userChoice {
    flex-direction: column;
  }

  .gbtn,
  .YN {
    text-align: center;
    font-size: 0.8rem;
    width: 5%;
  }
  .gbtn:hover {
    font-size: 0.5rem;
  }

  .play {
    width: 80%;
  }
  .ResetBtn {
    box-sizing: border-box;
    width: 100%;
  }
  .winnerStyle {
    border: 2px dashed rgb(2, 75, 13);
    color: white;
    background-color: rgb(1, 94, 1);
    border-radius: 2px;
  }
}
